:root{
    --corPrincipal: #FFC98A;
  --corSecundaria: #f19a35;
}

  
body{
    display: flex;
    background-color: var(--corPrincipal);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evita a barra de rolagem vertical */
}

.ladoEsquerdo, .ladoDireito {
    height: 100vh; /* Define a altura das divs laterais para ocupar 100% da altura da janela de visualização */
    overflow: auto; /* Adiciona barra de rolagem somente se necessário */
}

.ladoDireito{
    display: flex;
    justify-content: center;
    height: 100vh;
    flex: 1.5;
    background-color: var(--corPrincipal);
}

.box {
    width: 100%; /* Alteração da largura para ocupar toda a largura da div */
    border-style: hidden;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    box-sizing: border-box;
    padding: 20px;
    /* width: 100vh;  --> Remova esta linha */
    background-color: white;
}

.ladoEsquerdo {
    display: flex;
    flex: 1;
    justify-content: flex-end; /* Ajusta o conteúdo para o final */
}

.textos{
    text-align: center;
}

.titulo{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: auto;
    margin-top: auto;
    }
    
    .subtitle{
    font-family: 'Anonymous Pro';
    font-style: normal;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(92, 90, 90, 0.25);
    margin-top: auto;
    }

.informe{
    font-family: 'Anonymous Pro';
    font-style: normal;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(135, 127, 127, 0.25); 
    margin-bottom: 0;
}    

.form-container {
    width: 700px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 02px auto 30px; /* Centraliza o formulário horizontalmente */
    padding: 20px;
    text-align: center; /* Alinha o conteúdo no centro */
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.input-group label,
.input-group input {
    flex: 1;
    margin-right: 10px;
}

.input-group label {
    flex-basis: 120px; /* Largura fixa para os rótulos */
    flex-grow: 0; /* Não permite que os rótulos aumentem de tamanho */
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #E1E1E1;
    border-radius: 50px;
}

.option{
    width: 99%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #E1E1E1;
    border-radius: 50px;
}

.button-container { 
    /*margin-top: 150px;*/ /*Adiciona um espaço entre os campos e o botão */
    justify-content: center;
    display: flex;
}

button {
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    padding: 15px 40px;
    background-color: var(--corPrincipal);
    display: flex;
    transition: 0.2s background-color;
    align-items: center;
    gap: 0.6em;
    cursor: pointer;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background-color: var(--corPrincipal);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid #fff;
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--corSecundaria);
}

button:hover .arrow {
    background-color: var(--corSecundaria);
}

button:hover .arrow:before {
    right: 0;
}

.checkbox-wrapper-2{
   text-align: start;
}

.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  .checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .checkbox-wrapper-2 .ikxBAC,
  .checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
  }

  .checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  .checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
  }

  .checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .checkbox-wrapper-2 .ikxBAC:checked {
    background-color: var(--corPrincipal);
  }

  .checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }

  .checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
  }

  .checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: var(--corPrincipal);
  }

  .custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}