:root{
    --corPrincipal: #FFC98A;
    --corSecundaria: #f19a35;
    --terceiraCor: #FEEEDB;
  }
  
  body{
    background-color: var(--terceiraCor); 
    overflow-x: hidden; /* Evita a rolagem horizontal */
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .titulo{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: auto;
    margin-top: 0;
    margin-left: 50px;
  }
  
  .DivLinks{
    text-decoration: none;  
    color: white;
    font-size: 25px;
  }
  
  .loginref {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Isso centraliza verticalmente os elementos */
    position: relative;
    margin-bottom: 0;
    padding-top: 15px;
    background-color: var(--corPrincipal);
  }
  
  .logo {
    display: inline-block; /* Isso impede que o link ocupe toda a largura */
    height: 70px;
    width: 70px;
    margin-right: 40px;
  }
  
  .imagem {
    position: relative;
    margin-top: 0px;
    padding: 0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .imagem img {
    width: 100%;
    height: auto;
  }
  
  .imagem .search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 500px;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #0d0b0b;
  }
  
  .full-screen {
    height: 100vh; /* Define a altura como 100% da viewport */
    width: 100%; /* Define a largura como 100% da largura da tela */
    top: 0; /* Define o topo como 0 para fixar na parte superior */
    left: 0; /* Define a esquerda como 0 para ocupar toda a largura */
    z-index: 999; /* Define a ordem de empilhamento */
    background-color: var(--terceiraCor);
  }
  
  .full-screen:nth-child(2) {
    top: 100vh; /* Define a segunda div para começar após a primeira div */
  }
  
  .secondPart{
    height: 100vh;
    margin-top: 40px;
    background-color: var(--terceiraCor);
  }
  
  .FamousReps, .PraiasReps, .CasasReps, .ApsReps{
    text-align: start;
    font-size: 40px;
    height: 100vh;
    text-align: center;
  }
  
  .ContainerRepublicas {
    justify-content: space-between;
  }
  
  .ContainerRepublicas .images:first-child {
    margin-left: 50px;
  }
  
  .ContainerRepublicas .images:last-child {
    margin-right: 50px;
  }
  
  .images{
    background-color: var(--corPrincipal);
    height: 280px;
    width: 320px;
    border-radius: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .repsImages{
    height: 200px;
    width: 280px;
    border-radius: 30px;
  }
  
  .republicName{
    font-size: 20px;
  }