<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniRep</title>
    <link rel="stylesheet" href="styles\style.css">
</head>
<body>
    <div class="full-screen">
        <div class="loginref">
            <h1 class="titulo">UniRep</h1>
            <a class="DivLinks" href="#Populares">Repúblicas Populares</a>
            <a class="DivLinks" href="#Praias">Praias</a>
            <a class="DivLinks" href="#Casas">Casas</a>
            <a class="DivLinks" href="#Apartamentos">Apartamentos</a>
            <a href="perfil.html" class="logo">
                <svg viewBox="0 0 74 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3547 64.5648C4.77272 57.7927 0 47.944 0 36.9811C0 16.557 16.5655 0 37 0C57.4345 0 74 16.557 74 36.9811C74 47.944 69.2273 57.7927 61.6453 64.5648C57.2584 59.1114 51.768 55.1013 45.6431 53.1339C51.7293 50.1064 55.9111 43.8264 55.9111 36.5702C55.9111 26.3582 47.6284 18.0797 37.4111 18.0797C27.1938 18.0797 18.9111 26.3582 18.9111 36.5702C18.9111 43.7019 22.9506 49.8905 28.8674 52.9751C22.5371 54.8802 16.8631 58.9604 12.3547 64.5648Z" fill="white"/>
                </svg>    
            </a>
        </div>
        <div class="imagem">
            <img src="images\image.png" alt="" style="margin-top: 30px;">
            <div class="search">
                <input type="text" class="search__input" placeholder="Digite o local de busca:">
                <button class="search__button">
                    <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                            <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
        <div class="choice">
            
        </div>

    </div>

    <div class="secondPart" id="Populares">
        <div class="FamousReps">
            <label for="">Repúblicas Populares</label>
            <div class="ContainerRepublicas" style="display: flex;">
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image1.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image2.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image3.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="ContainerRepublicas" style="display: flex; margin-top: 30px;">
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image1.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image2.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image3.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="secondPart" id="Praias">
        <div class="PraiasReps">
            <label for="" class="SectionTitle">Praias</label>
            <div class="ContainerRepublicas" style="display: flex;">
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image1.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image2.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image3.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="ContainerRepublicas" style="display: flex; margin-top: 30px;">
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image1.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image2.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image3.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="secondPart" id="Casas">
        <div class="CasasReps">
            <label for="" class="SectionTitle">Casas</label>
            <div class="ContainerRepublicas" style="display: flex;">
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image1.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image2.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image3.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="ContainerRepublicas" style="display: flex; margin-top: 30px;">
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image1.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image2.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image3.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="secondPart" id="Apartamentos">
        <div class="ApsReps">
            <label for="" class="SectionTitle">Apartamentos</label>
            <div class="ContainerRepublicas" style="display: flex;">
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image1.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image2.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image3.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="ContainerRepublicas" style="display: flex; margin-top: 30px;">
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image1.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image2.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image3.jpg" alt="">
                    </a>
                </div>
                <div class="images">
                    <p class="republicName">Nome da República</p>
                    <a href="Republica.html">
                        <img class="repsImages" src="images/image4.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

